@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft';
  src: url('https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.woff2') format('woff2');
}

body {
  font-family: 'Minecraft', monospace;
  background-color: #111;
  color: white;
  overflow: hidden;
}
